<header class="nav-header">
  <nav class="nav">
    <div class="container">

      <div class="logo">
        <a href="/"><img src="../public/images/logo.png" width="60px" height="60px" alt=""></a>
      </div>

      <div class="nav-bar">

        <div class="nav-login">
          <div class="nav-links">
            <a class="main-a" href="/">home</a>
            <a class="main-a" href="#">about</a>
            <a class="main-a" href="#">services</a>
          </div>
          <div class="login">
            <% if(!currentuser){ %>
            <a href="/login">login</a>
            <a href="/signup" class="signup-border">sign up</a>
            <% }else{ %>
            <a href="/<%= currentuser._id %> /edit" class="user"><%= currentuser.username %></a>
            <a href="/logout">logout</a>
            <% } %>
            <i class="fas fa-bars burger-menu"></i>
          </div>
        </div>
        <div class="small-sc-nav-links">
          <h1 class="close"><i class="fas fa-times"></i></h1>
          <a class="main-a" href="/">home</a>
          <a class="main-a" href="/about">about us</a>
          <a class="main-a" href="/contact">contact us</a>
          <div class="nav-login">
            <div class="login">
              <% if(!currentuser){ %>
              <a href="/login" class="login-border">login</a>
              <a href="/signup" class="signup-border">sign up</a>
              <% }else{ %>
              <a href="/<%=currentuser._Id %> /edit" class="user"><%= currentuser.username %></a>
              <a href="/logout" class="logout">logout</a>
              <% } %>
            </div>
          </div>
          <div class="socials">
            <a href="#"> <i class="fab fa-instagram-square"></i> </a>
            <a href="#"><i class="fab fa-facebook-square"></i> </a>
            <a href="#"><i class="fab fa-linkedin"></i> </a>
            <a href="#"><i class="fab fa-twitter-square"></i> </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="message-container">
    <% if(error && error.length > 0){ %>
    <div class="message danger">
      <%= error%>
    </div>
    <% } %>

    <% if(success && success.length > 0){ %>
    <div class="message success ">
      <%= success%>
    </div>
    <% } %>
  </div>

</header>