<%- include ('../partials/header') %>
<%- include ('../partials/nav') %>

<main class="main-index">
    <div class="index-showcase">
        <div class="title">
            <h1>discover your neighbour</h1>
        </div>
        <section class="sec-search">
            <div class="form">
                <form action="/index" method="GET">
                    <input type="text" name="search" placeholder="Search postcode">
                    <input type="submit" value="search">

                </form>
            </div>
        </section>
    </div>
    <section class="sec-content">
        <% profile.forEach((profile)=>{ %>
        <div class="profile">
            <div class="content">
                <p> <i class="fas fa-user"></i> <span><%= profile.firstName %> <%= profile.lastName %></span></p>
                <p> <i class="fas fa-phone-alt"></i> <span><%= profile.phone%></span></p>
                <p> <i class="fas fa-map-marker-alt"></i> <span><%= profile.location%></span></p>
                <a href="/index/<%= profile._id%>">view map</a>
            </div>
        </div>
        <% }) %>
    </section>
</main>


<%- include ('../partials/footer') %>