<%- include ('../partials/header') %>
<main class="myneighbour-main">
    <a href="/index"><i class="fas fa-arrow-left"></i></a>
    <div class="container">
        <section class="sec-content">
            <div class="profile">
                <div class="content">
                    <p> <i class="fas fa-user"></i> <span><%= profile.firstName %> <%= profile.lastName %></span></p>
                    <p> <i class="fas fa-phone-alt"></i> <span><%= profile.phone%></span></p>
                    <p> <i class="fas fa-map-marker-alt"></i> <span><%= profile.city%></span></p>
                </div>
            </div>
        </section>
        <div id="map"></div>
    </div>
</main>

<script>
    function initMap() {
        let lat = <%= profile.lat %>;
        let lng = <%= profile.lng %>;
        var center = { lat: lat, lng: lng };
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 8,
            center: center,
            scrollwheel: false
        });
        var contentString = `
        <div class = "map-content"> 
            <h3><%= profile.firstName%></h3>
            <p> <%= profile.postcode%> </p>
            <p> <%= profile.address%> </p>
            </div>
      `
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function () {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBABbRsdzWy_fqTinBgydyxNVjGJVUfBJk&callback=initMap"></script>

<%- include ('../partials/footer') %>